<div class="container aboutUs">
  <div class="row">
      <div class="cox-xs-12 page__title_col">
        <h3 class="page__title">
          Line of individual furniture
        </h3>
      </div>
    <div class="col-xs-12">
      Кухонная мебель, “Велес-C” — фабрика Вашей кухни!

      Качественная кухонная мебель в Киеве -это предложение от фабрики кухонной мебели "Велес-С", (Киев, Украина)
      отечественного производителя мебели для кухни любой сложности.

      Ассортимент, предлагаемых кухонных гарнитуров, удовлетворит любого, даже самого требовательного заказчика.

      Что же касается ценовой политики, то и здесь мы предлагаем выбор кухни класса «стандарт», а также элитных
      дизайнерских гарнитуров, причем высокое качество изделий гарантировано, независимо от класса, выбранной кухонной
      мебели.

      Производство кухонь может быть условно разделено на стандартное предложение (кухонные гарнитуры без систем
      амортизации и доводки) и «Премиум» (производство кухонь с использованием фурнитурыи и материалов класса «Элит» от
      именитых европейских брендов таких как Egger, Vibo, Blum, inoxa, Fgv, Giusti, Hafele).

      В последнее время особенно популярной становится кухонная мебель, так называемого, "модульного типа". В любом
      случае, если Вам необходима кухонная мебель в Киеве, то наши специалисты и консультанты помогут Вам сделать верный
      выбор, учитывая при этом Ваши идеи и индивидуальные пожелания. Заказать кухню по индивидуальному проекту Вы
      можете, обратившись в наши мебельные салоны.

      Качественно исполненная, кухонная мебель станет олицетворением домашнего очага и усилит атмосферу тепла и уюта.
      Используя в производстве современные технологии, мы можем предложить своим клиентам, как кухни из дерева, так и с
      фасадами МДФ. Учитывая пожелания и возможности заказчика, наши специалисты помогут рассчитать кухню, идеально
      отвечающую заданным требованиям.

      Предлагаемый нами каталог кухонной мебели, позволит Вам увидеть модели кухонь, которые мы можем изготовить для
      Вас. Каталог кухонь поможет определиться в выборе кухни премиум и бизнес класса.

      Производство мебели высочайшего качества - это наша главная профессиональная позиция. Именно поэтому мы используем
      современные материалы и технологии, чтобы в результате, каждый наш заказчик мог купить мебель на кухню и остался
      доволен, полученным результатом.

      Мебель для кухни на заказ имеет ряд определенных преимуществ. Наши дизайнеры смогут предложить Вам несколько
      вариантов кухонных гарнитуров, идеально вписывающихся в пространство кухонного помещения, а так же цветовых
      решений фасадов.

      Купить мебель для кухни в Киеве будет гораздо проще, если вы обратитесь к профессионалам своего дела. Наши опытные
      специалисты на всех этапах работы: от предварительного просчета до установки кухни у Вас дома, с ответственностью
      отнесутся к поставленным задачам.

      К тому же, обратившись к нам, Вы получаете возможность купить кухню в кредит. Не каждый магазин кухонной мебели
      сможет сделать подобное предложение для своих клиентов. Купить кухню в Киеве производства фабрики "Велес-С" Вы
      можете посетив наши салоны кухонь.

      Мы готовы к тому,что современный потребитель достаточно хорошо разбирается и ориентируется в ассортименте,
      предлагаемой кухонной мебели. Именно поэтому мы стараемся идти в ногу с современными тенденциями и технологиями и
      предлагаем достаточно разнообразный выбор стилей и моделей мебели, не забывая при этом о практичности и удобстве в
      дальнейшей эксплуатации.

      Продажа кухонь для нас это не просто реализация готовой продукции, а прежде всего возможность ознакомить наших
      потенциальных покупателей с возможностями современного мебельного производства, дать исчерпывающую информацию о
      материалах, из которых изготавливается тот или иной вариант кухонного гарнитура, а также провести профессиональную
      консультацию для каждого индивидуального случая.

      Мы всегда готовы стать не только надежным партнером, но и помочь исполнится еще одной Вашей мечте - сделать свой
      домашний очаг еще уютнее.
    </div>
  </div>
</div>
