<!--slider-->
<div class="container">
  <div class="wrapper">
    <div class="kitchen__header">
      <h3 class="kitchen__name">
        <span>Line of individual furniture</span>
      </h3>
    </div>
    <div class="col-md-12 col-xs-12">
      <div style="">
        <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
          <uib-slide ng-repeat="slide in mainImagesForSlider" index="$index">
            <img ng-src="{{slide}}" style="margin:auto; height: 470px">
          </uib-slide>
        </uib-carousel>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-12">
        <div class="main__aboutUs">
          <p class="main__aboutUs_description">
            На сегодняшний день фабрика мебели "Велес-с" (производитель мебели, кухонной мебели, кухонь) является
            динамично развивающимся предприятием, предлагающим большой ассортимент продукции, выступающей под нашим
            брендом.

            Наши производственные площади оснащены самым современным и технологичным оборудованием, позволяющим
            воплощать в жизнь множество дизайнерских решений в производстве мебели.

            Практически весь модельный ряд кухонных фасадов Мы производим на собственном оборудовании в кратчайшие
            сроки, а дизайн и технологию производства фасадов из Натурального дерева мы разрабатываем совместно с нашими
            партнерами.

            Мы приглашаем посетить наши фирменные салоны, где представляем весь ассортимент выпускаемой нами продукции.

            Наши дизайнеры помогут вам определиться с выбором кухонного гарнитура или шкафа купе, а также бытовой
            техники ведущих европейских производителей.
          </p>

        </div>
      </div>
    </div>

    <div class="row">
      <!--thumbnails-->
        <div class="thumbnail-wrapper">
          <div class="thumbnail-wrapper__col">
            <button class="thumbnail-custom thumbnail-custom_about btn btn-primary">
              <span class="caption">
                <span>about us</span>
              </span>
            </button>
          </div>
          <div class="thumbnail-wrapper__col">
            <button class="thumbnail-custom thumbnail-custom_catalog btn btn-success">
              <span class="caption">
                <span>catalog</span>
              </span>
            </button>
          </div>
          <div class="thumbnail-wrapper__col">
            <button class="thumbnail-custom thumbnail-custom_contacts btn btn-warning">
              <span class="caption">
                <span>contacts</span>
              </span>
            </button>
          </div>
      </div>
    </div>
  </div>
</div>

