<!--slider-->
<div class="container">
  <div class="background-wrapper">
    <div style="height: 470px">
      <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <uib-slide ng-repeat="slide in mainImagesForSlider" index="$index">
          <img ng-src="{{slide}}" style="margin:auto; height: 470px">
        </uib-slide>
      </uib-carousel>
    </div>
  </div>
</div>

<!--thumbnails-->
<!--<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>Thumbnail label</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>Thumbnail label</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>Thumbnail label</h3>
        </div>
      </div>
    </div>
  </div>
</div>-->
<div class="container">
  <div class="background-wrapper">
    <div class="row">
      <div class="col-xs-12">
        <div class="main__aboutUs">
          <div class="cox-xs-12 page__title_col">
            <h3 class="page__title">
              Кухонная мебель, “Линия индивидуальной мебели” — фабрика Вашей кухни!
            </h3>
          </div>
          <p class="main__aboutUs_description">
            На сегодняшний день фабрика мебели "Велес-с" (производитель мебели, кухонной мебели, кухонь) является
            динамично развивающимся предприятием, предлагающим большой ассортимент продукции, выступающей под нашим
            брендом.

            Наши производственные площади оснащены самым современным и технологичным оборудованием, позволяющим
            воплощать в жизнь множество дизайнерских решений в производстве мебели.

            Практически весь модельный ряд кухонных фасадов Мы производим на собственном оборудовании в кратчайшие
            сроки, а дизайн и технологию производства фасадов из Натурального дерева мы разрабатываем совместно с нашими
            партнерами.

            Мы приглашаем посетить наши фирменные салоны, где представляем весь ассортимент выпускаемой нами продукции.

            Наши дизайнеры помогут вам определиться с выбором кухонного гарнитура или шкафа купе, а также бытовой
            техники ведущих европейских производителей.
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
